
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Special Elite', cursive;
    font-size: 20px;
}
body{
    background-color:rgb(255, 255, 255) ;
    font-family: 'Special Elite', cursive;


}

h1{
    padding: 20px;
    font-size: 40px;
}

.header{

    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
  
}


.box{
    padding-left: 25px;
}