
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Special Elite', cursive;

    font-size: 20px;
}

body{
    background-color:rgb(255, 255, 255) ;
    font-family: 'Special Elite', cursive;


}

.header{

    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo{
    cursor: pointer;
}

.header .logo img{
    height: 80px;
    width: auto;
    padding-top: 20px;
    transition: all 0.3s;
}

.header.logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{

    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover{
    transform: scale(1.1);
}
.header .nav-links a{
    font-size: 700;
    
    color: rgb(0, 0, 0);
    text-decoration: none;

}

header .nav-links li a{
    color: rgb(110, 76, 115);
}

.header .btn button{
    font-weight: 700;
    color: rgb(0, 0, 0);
    padding: 9px 25px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{
  
  color:  rgb(0, 0, 0);
  transform: scale(1.1);

}

.carrito{

height: 50px;
  

}


.video{
display:flex;
justify-content:center;
padding: 40px;
}



h2{
   
    display: flex;
    justify-content:center;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    font-family: 'Special Elite', cursive;
    font-size: 20px;

}

.input{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 150px;
    padding: 5px 10%;
    
   
}
section{
    display: flex;
    width: 600px;
    height: 430px;
   
}

.section-new{
    display: flex;
    justify-content: center;
    align-items: center;
padding-left: 100px;

}

section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

section img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}
.button-delete {
    background: darkred !important;
}

.button-small {
    font-size: .8rem;
    height: 2.8rem;
    line-height: 2.8rem;
    padding: 0 1.5rem;
  }

.container {
    gap: 40px;
    display: flex;
    flex-direction: column column column column ;
    align-items:center;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    box-shadow: 5px 20px 20px rgba(177, 115, 225, 0.3);
    border: 1px solid rgba(162, 112, 234, 0.384);
    border-radius: 8px;
    width: 16rem
}

.card:hover {
    transition: .5s ease-in;
    box-shadow: 5px 20px 60px rgba(211, 211, 211, 0.519);
}

.card .card-img {
    text-align: center;
    font-size: 60px;
    display: block;
    width: 1fr;
}

.card .card-title {
    text-align: center;
    padding: 30px;
   
}

.card .card-price {
    text-align: center;
    padding-bottom: 40px;
    font-size: 20px;
    font-weight: 500;
    display: block;
    width: 1fr;
}

.card .card-button {
    text-align: center;
    display: block;
}

.button-add {
    border-radius: 10px;
    width: 80px;
    padding: 10px;
    outline: 1px solid rgb(189, 134, 240) !important;
}

.card .card-button button {
    margin-top: 10px;
    font-size: 20px !important;
}

.card .card-button .disabled {
    background-color: lightgray !important;
    color: whitesmoke !important;
}

.card .card-button button:active {
    background: darkmagenta !important;
    color: white !important;
}

.sin-stock {
    filter: grayscale(100%) opacity(30%);
}

.card-error {
    box-shadow: 0px 6px 20px rgba(255, 0, 0, 0.147);
    border: 1px solid darkred;
    border-radius: 6px;
    padding: 40px;
    color: red;
}

.centrar-div {
    text-align: center;
}

.formulario {
    padding: 40px;
    border-radius: 10px;
    background-color: rgba(90, 0, 139, 0.373);
    box-shadow: 5px 10px 40px lightgray;
}

.btn-checkout {
    background-color: rgba(0, 47, 255, 0.192) !important;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 10px;
    display: inline;
    padding: 10px;
    float: right;
    height: 70px;
    width: 80px;
}

.btn-checkout img {
    width: 55px;
}

.btn-checkout:hover {
    box-shadow: 4px 4px 16px rgba(128, 128, 128, 0.476);
    transition: 0.17s ease-in;
}

.btn-checkout:active {
    transition: 0.3s ease-out;
    filter: grayscale(100%)
}

.ocultar {
    display: none !important;
}



footer{
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 2rem 8%;
    background-color:rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo{
   height: 80px;
   margin-bottom: 1rem; 
}

.social-icons-container, .footer-menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.social-icon{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid white;
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    margin: 1rem;
}

.social-icon:hover{
    background-color: black;
    filter: invert(1);
}



.footer-menu-container{
    list-style-type: none;
    color: rgb(0, 0, 0);
    font-size: 40px;
}

.menu-item{
    margin: 1rem 1.5rem;
    cursor: pointer;
    opacity: 0.6;
}

.menu-item:hover{
    opacity: 1;
}


